{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}
<div class="container">
<div class="solid_banner_inner">
        <h3>Mi cuenta</h3>
        <ul>
            <li>Hola, {{user.nombre}}, {{user.primerApellido}} {{user.segundoApellido}}</li><br>
            <h4><a href="{{ path('perfilcliente_edit', { 'idcliente': user.idcliente }) }}">Editar Información personal</a></h4><br>
            <h4><a href="{{url('listadoF')}}">Mis facturas</a></h4>
        </ul>
    </div>
</div>
{% endblock %}