
        {% block header %}
        <!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chustaller{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("cssbase/estilos.css") }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        {% endblock %}
        
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script src="{{ asset('js/libreria.js')}}"></script>
        <script src="{{ asset('js/carrito.js')}}"></script>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!-- Icon css link -->
        <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/line-icon/css/simple-line-icons.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/elegant-icon/style.css')}}" rel="stylesheet">
        <!-- Bootstrap -->

            <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">
        
        
        <!-- Rev slider css -->
        <link href="{{asset('vendors/revolution/css/settings.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/revolution/css/layers.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/revolution/css/navigation.css')}}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{{asset('vendors/owl-carousel/owl.carousel.min.css')}}" rel="stylesheet">
        <link href="{{asset('vendors/bootstrap-selector/css/bootstrap-select.min.css')}}" rel="stylesheet">
        
        <link href="{{asset('css/style.css')}}" rel="stylesheet">
        <link href="{{asset('css/responsive.css')}}" rel="stylesheet">
        <!-- datatables -->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    </head>
    <body>
            <!--================Top Header Area =================-->
    <div class="header_top_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="top_header_left">
                        
                        
                        <div class="input-group">
                            <form action="{{url('busqueda')}}" method="GET">
                                <input type="text" class="form-control" name="buscar" placeholder="Buscar" aria-label="Buscar">
                                <span class="input-group-btn">
                                <input type="submit" class="btn btn-secondary" id="buscar" type="button"><i class="icon-magnifier"></i></button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="top_header_middle">
                        <a href="#"><i class="fa fa-phone"></i> Llama al: <span>+34 671 767 693</span></a>
                        <a href="#"><i class="fa fa-envelope"></i> Email: <span>chustallerr@gmail.com</span></a>
                        {% block logo %}
                            <img src="{{asset('img/logo.png')}}" alt="">
                        {% endblock %}
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="col-lg-3 ">
                    <div class="top_right_header">
                        {% if user is defined %}
                            <ul class="top_right">
                                {# Categorias de todas las piezas #}
                                <li title="Ver perfil" class="user"><a  href="{{url('perfil')}}"><i  class="icon-user icons"></i></a></li>  
                                <li title="Cerrar sesión" class="user"><a href="{{path('logout')}}"><i class="fa fa-sign-out"></i></a></li>
                                <span id="email" style="display:none">{{user.email}}</span>
                                <li class="cart"><a aria-expanded="false" href="#"><i class="fa fa-shopping-cart"><span id="numproductos"></span></i></a>
                                    <div class="cart-inv">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Delete</th>
                                                    <th>Código</th>
                                                    <th>Cantidad</th>
                                                    <th>Nombre</th>
                                                </tr>
                                            </thead>
                                            <tbody id="cajacarrito">

                                            </tbody>
                                            <tfoot>
                                                <tr><td colspan="4"><a href="{{path('carrito')}}">Ckeck Out</a></td></tr>
                                            </tfoot>
                                        </table>
                                </div>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="top_right">
                                    <li title="Ver perfil" class="user"><a  href="{{url('perfil')}}"><i  class="icon-user icons"></i></a></li>  
                                    <li class="cart"><a aria-expanded="false" href="{{url('carrito')}}"><i class="fa fa-shopping-cart"><span id="numproductos"></span></i></a>
                                
                                </li>
                            </ul>
                            {% endif %}
                            
                            
                        
                    </div>
                </div>
            </nav>
            </div>
        </div>
    </div>
    <!--================End Top Header Area =================-->
    
        {% endblock %}
        {% block body %}
        <!--================Menu Area =================-->
        <header class="shop_header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown submenu active">
                                <a class="nav-link" href="{{url('ultimos')}}" role="button" >
                                Inicio <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                
                            </li>
                            
                            <li class="nav-item dropdown submenu">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Tienda <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    {# Categorias de todas las piezas #}
                                    
                                        <li class="nav-item"><a class="nav-link" href="{{url('categorias',{'cat':1})}}">Ruedas</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{url('categorias',{'cat':2})}}">Repuestos</a></li>
                                        <li class="nav-item"><a class="nav-link" href="{{url('categorias',{'cat':3})}}">Partes</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Foro</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{url('contact')}}">Contacto</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--================End Menu Area =================-->
    {% endblock %}
    {% block footer %}
            
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="container">
                <div class="footer_widgets">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6">
                            <aside class="f_widget f_about_widget">
                                <img src="{{asset('img/logoin.png')}}" alt="">
                                <p>Persuit is a Premium PSD Template. Best choice for your online store. Let purchase it to enjoy now</p>
                                <h6>Social:</h6>
                                <ul>
                                    <li><a href="#"><i class="social_facebook"></i></a></li>
                                    <li><a href="#"><i class="social_twitter"></i></a></li>
                                    <li><a href="#"><i class="social_pinterest"></i></a></li>
                                    <li><a href="#"><i class="social_instagram"></i></a></li>
                                    <li><a href="#"><i class="social_youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_info_widget">
                                <div class="f_w_title">
                                    <h3>Información</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Sobre mi</a></li>
                                    <li><a href="#">Información de envios</a></li>
                                    <li><a href="#">Terminos & Condiciones</a></li>
                                    
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                            <aside class="f_widget link_widget f_service_widget">
                                <div class="f_w_title">
                                    <h3>Servicio de Usuario</h3>
                                </div>
                                <ul>
                                    <li><a href="{{url('perfil')}}">Mi cuenta</a></li>
                                    <li><a href="{{url('listadoF')}}">Mis pedidos</a></li>
                                    <li><a href="#">Foro</a></li>
                                    <li><a href="{{url('contact')}}">Contacto</a></li>
                                </ul>
                            </aside>
                        </div>
                        
                    </div>
                </div>
                <div class="footer_copyright">
                    <h5>© <script>document.write(new Date().getFullYear());</script> <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </h5>
                </div>
            </div>
        </footer>
        
        {% endblock %}
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
