{% extends 'base.html.twig' %}
{% block body %}
<strong> La multiplicacion de {{factor1}} * {{factor2}} = {{resultado}}</strong>
<b></b>
<p>La operacion es {{operacion}}</p>
<b></b>
<p> El usuario es {{usuario}}</p>
<a href="{{ url('homepage') }}"> Enlace </a>
{% endblock %}