{% extends 'base.html.twig' %}
{% block body %}
{{parent()}}
<div class="loading">
  <div class="circle light"></div>
  <div class="circle dark"></div>
  <div class="branding"></div>
</div>

{% if error %}
<div>{{ error.messageKey|trans(error.messageData,'security') }}</div>
{% endif %}
{{ form_start(formulario,{attr:{action:path("login_check_seguridad"), 
    style: 'margin-left: 40%; width: 20%;'}}) }}
    {{ form_row(formulario.username,{'full_name':'_username'})}}
    {{ form_row(formulario.password,{'full_name':'_password'})}}
{{ form_end(formulario) }}
{% endblock %}