{% extends 'base.html.twig' %}

{% block body %}
{{ parent() }}
<body>
        <section class="main_slider_area">
                <div class="container">
                    <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
                        <ul>
                            <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-1.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{{asset('img/home-slider/bmwllanta.jpg')}}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
    
                                <!-- LAYER NR. 1 -->
                                <div class="slider_text_box">
                                    <div class="tp-caption tp-resizeme first_text" 
                                    data-x="['right','right','right','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['60','60','60','80','95']" 
                                    data-fontsize="['54','54','54','40','40']"
                                    data-lineheight="['64','64','64','50','35']"
                                    data-width="['470','470','470','300','250']"
                                    data-height="none"
                                    data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
                                    data-type="text" 
                                    data-responsive_offset="on" 
                                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                    data-textAlign="['left','left','left','left','left','center']"
                                    style="z-index: 8;font-family: Montserrat,sans-serif;font-weight:700;color:#29263a;"></div>
    
                                    <div class="tp-caption tp-resizeme secand_text" 
                                        data-x="['right','right','right','center','center',]" 
                                        data-hoffset="['0','0','0','0']" 
                                        data-y="['top','top','top','top']" data-voffset="['255','255','255','230','220']"  
                                        data-fontsize="['48','48','48','48','36']"
                                        data-lineheight="['52','52','52','46']"
                                        data-width="['450','450','450','450','450']"
                                        data-height="none"
                                        data-whitespace="normal"
                                        data-type="text" 
                                        data-responsive_offset="on"
                                        data-transform_idle="o:1;"
                                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                        data-textAlign="['left','left','left','left','left','center']"
                                        > Calzalo bien <br />Hijo puta 
                                    </div>
    
                                    <div class="tp-caption tp-resizeme third_btn" 
                                        data-x="['right','right','right','center','center','center']" 
                                        data-hoffset="['0','0','0','0']" 
                                        data-y="['top','top','top','top']" data-voffset="['385','385','385','385','350']" 
                                        data-width="['450','450','450','auto','auto']"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text" 
                                        data-responsive_offset="on" 
                                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                        data-textAlign="['left','left','left','left','left','center']">
                                        <a class="checkout_btn" href="#">Leer más</a>
                                    </div>
                                </div>
                            </li>
                            <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-thumb="img/home-slider/slider-2.jpg"  data-rotate="0"  data-saveperformance="off"  data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="{{asset('img/home-slider/filtro.jpg')}}"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                                <!-- LAYERS -->
    
                                <!-- LAYER NR. 1 -->
                                <div class="slider_text_box">
                                    <div class="tp-caption tp-resizeme first_text" 
                                    data-x="['right','right','right','center','center']" 
                                    data-hoffset="['0','0','0','0']" 
                                    data-y="['top','top','top','top']" 
                                    data-voffset="['60','60','60','80','95']" 
                                    data-fontsize="['54','54','54','40','40']"
                                    data-lineheight="['64','64','64','50','35']"
                                    data-width="['470','470','470','300','250']"
                                    data-height="none"
                                    data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
                                    data-type="text" 
                                    data-responsive_offset="on" 
                                    data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                    data-textAlign="['left','left','left','left','left','center']"
                                    style="z-index: 8;font-family: Montserrat,sans-serif;font-weight:700;color:#29263a;"><img src="img/home-slider/2017-text.png" alt=""></div>
    
                                    <div class="tp-caption tp-resizeme secand_text" 
                                        data-x="['right','right','right','center','center',]" 
                                        data-hoffset="['0','0','0','0']" 
                                        data-y="['top','top','top','top']" data-voffset="['255','255','255','230','220']"  
                                        data-fontsize="['48','48','48','48','36']"
                                        data-lineheight="['52','52','52','46']"
                                        data-width="['450','450','450','450','450']"
                                        data-height="none"
                                        data-whitespace="normal"
                                        data-type="text" 
                                        data-responsive_offset="on"
                                        data-transform_idle="o:1;"
                                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                        data-textAlign="['left','left','left','left','left','center']"
                                        >Mantenimiento <br />de tu coche 
                                    </div>
    
                                    <div class="tp-caption tp-resizeme third_btn" 
                                        data-x="['right','right','right','center','center','center']" 
                                        data-hoffset="['0','0','0','0']" 
                                        data-y="['top','top','top','top']" data-voffset="['385','385','385','385','350']" 
                                        data-width="['450','450','450','auto','auto']"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text" 
                                        data-responsive_offset="on" 
                                        data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
                                        data-textAlign="['left','left','left','left','left','center']">
                                        <a class="checkout_btn" href="#">Leer más</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--================End Slider Area =================-->
        
        <!--================Feature Add Area =================-->
        
        <!--================End Feature Add Area =================-->
        
        <!--================Our Latest Product Area =================-->
        <section class="our_latest_product">
            <div class="container">
                <div class="s_m_title">
                    <h2>Últimos productos</h2>
                </div>
                <div class="l_product_slider owl-carousel">
                    {% for ultimo in ultimos %}
                        <div class="item">
                                <div class="l_product_item">
                                        <div class="l_p_img">
                                            <img src="{{asset('' ~ ultimo.imagen ~ '')}}" alt="">
                                        </div>
                                        <div class="l_p_text">
                                           <ul>
                                                <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li>
                                                <li><a class="add_cart_btn" href="#">Add To Cart</a></li>
                                                <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                            </ul>
                                            <h4>{{ultimo.nombre}}</h4>
                                            <h5>{{ultimo.precio}}€</h5>
                                        </div>
                                    </div>
                        </div>
                    {% endfor %}
                    
                        
                    </div>
                </div>
        </section>
        <!--================End Our Latest Product Area =================-->
        
        <!--================Feature Big Add Area =================-->
        
        <!--================End Feature Big Add Area =================-->
        
        
        
        <!--================Featured Product Area =================-->
        <section class="feature_product_area">
                <div class="container">
                    <div class="f_p_inner">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="f_product_left">
                                    <div class="s_m_title">
                                        <h2>Featured Products</h2>
                                    </div>
                                    <div class="f_product_inner">
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="img/product/featured-product/f-p-1.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>Oxford Shirt</h4>
                                                <h5>$45.05</h5>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="img/product/featured-product/f-p-2.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>Puffer Jacket</h4>
                                                <h5>$45.05</h5>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="img/product/featured-product/f-p-3.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>Leather Bag</h4>
                                                <h5>$45.05</h5>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="img/product/featured-product/f-p-4.jpg" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>Casual Shoes</h4>
                                                <h5>$45.05</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="fillter_slider_inner">
                                    <ul class="portfolio_filter">
                                        <li class="active" data-filter="*"><a href="#">men's</a></li>
                                        <li data-filter=".woman"><a href="#">Woman</a></li>
                                        <li data-filter=".shoes"><a href="#">Shoes</a></li>
                                        <li data-filter=".bags"><a href="#">Bags</a></li>
                                    </ul>
                                    <div class="fillter_slider owl-carousel">
                                        <div class="item shoes">
                                            <div class="fillter_product_item bags">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-1.jpg" alt="">
                                                    <h5 class="sale">Sale</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>Nike Max Air Vapor Power</h5>
                                                    <h4>$45.05</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item woman shoes bags">
                                            <div class="fillter_product_item">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-2.jpg" alt="">
                                                    <h5 class="new">New</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>Fossil Watch</h5>
                                                    <h4><del>$250</del> $110</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item woman shoes">
                                            <div class="fillter_product_item">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-3.jpg" alt="">
                                                    <h5 class="discount">-10%</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>High Heel</h5>
                                                    <h4>$45.05</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item shoes">
                                            <div class="fillter_product_item bags">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-1.jpg" alt="">
                                                    <h5 class="sale">Sale</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>Nike Max Air Vapor Power</h5>
                                                    <h4>$45.05</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item woman shoes bags">
                                            <div class="fillter_product_item">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-2.jpg" alt="">
                                                    <h5 class="new">New</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>Fossil Watch</h5>
                                                    <h4><del>$250</del> $110</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item woman shoes">
                                            <div class="fillter_product_item">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-3.jpg" alt="">
                                                    <h5 class="discount">-10%</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>High Heel</h5>
                                                    <h4>$45.05</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item shoes">
                                            <div class="fillter_product_item bags">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-1.jpg" alt="">
                                                    <h5 class="sale">Sale</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>Nike Max Air Vapor Power</h5>
                                                    <h4>$45.05</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item woman shoes bags">
                                            <div class="fillter_product_item">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-2.jpg" alt="">
                                                    <h5 class="new">New</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>Fossil Watch</h5>
                                                    <h4><del>$250</del> $110</h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item woman shoes">
                                            <div class="fillter_product_item">
                                                <div class="f_p_img">
                                                    <img src="img/product/fillter-product/f-product-3.jpg" alt="">
                                                    <h5 class="discount">-10%</h5>
                                                </div>
                                                <div class="f_p_text">
                                                    <h5>High Heel</h5>
                                                    <h4>$45.05</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--================End Featured Product Area =================-->
        
        <!--================Form Blog Area =================-->
        <section class="from_blog_area">
            <div class="container">
                <div class="from_blog_inner">
                    <div class="c_main_title">
                        <h2>From The Blog</h2>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--================End Form Blog Area =================-->
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{{asset('js/jquery-3.2.1.min.js')}}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{asset('js/popper.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>
        <!-- Rev slider js -->
        <script src="{{asset('vendors/revolution/js/jquery.themepunch.tools.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/jquery.themepunch.revolution.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/extensions/revolution.extension.actions.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/extensions/revolution.extension.video.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/extensions/revolution.extension.navigation.min.js')}}"></script>
        <script src="{{asset('vendors/revolution/js/extensions/revolution.extension.slideanims.min.js')}}"></script>
        <!-- Extra plugin css -->
        <script src="{{asset('vendors/counterup/jquery.waypoints.min.js')}}"></script>
        <script src="{{asset('vendors/counterup/jquery.counterup.min.js')}}"></script>
        <script src="{{asset('vendors/owl-carousel/owl.carousel.min.js')}}"></script>
        <script src="{{asset('vendors/bootstrap-selector/js/bootstrap-select.min.js')}}"></script>
        <script src="{{asset('vendors/image-dropdown/jquery.dd.min.js')}}"></script>
        <script src="{{asset('js/smoothscroll.js')}}"></script>
        <script src="{{asset('vendors/isotope/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{asset('vendors/isotope/isotope.pkgd.min.js')}}"></script>
        <script src="{{asset('vendors/magnify-popup/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{asset('vendors/vertical-slider/js/jQuery.verticalCarousel.js')}}"></script>
        <script src="{{asset('vendors/jquery-ui/jquery-ui.js')}}"></script>
        
        <script src="{{asset('js/theme.js')}}"></script>
    </body>
{% endblock body %}
